.button {
    border-color: #4fce99;
    background-color: transparent;
    color: #4fce99;
    font-weight: 700;
    padding: 12px 30px 12px 30px;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
    flex: 0 0 auto;
    border: 1px solid #fff;
    border-radius: 100px;
    border-color: #4fce99;
    transition: background-color 300ms ease;
    text-align: center;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4rem;
}
.button:hover, .button:active {
    box-shadow: 0 5px 13px 0 rgb(0 0 0 / 24%);
}